@model ExamOnline.ViewModel.QuestionViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Question</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Text, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-4">
            @Html.EditorFor(model => model.Text, new { htmlAttributes = new { @class = "form-control col-md-3" } })<span class="col-md-1">
                ?
            </span>
            @Html.ValidationMessageFor(model => model.Text, "", new { @class = "text-danger" })
        </div>
        @Html.LabelFor(model => model.IsSingleAnswer, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-4">
            <div class="checkbox">
                @Html.EditorFor(model => model.IsSingleAnswer)
                @Html.ValidationMessageFor(model => model.IsSingleAnswer, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

   
<fieldset >
    <legend>Answers</legend>
    <div class="form-group container " style=" display: block;margin-left: 10%;" id="Answers">

        <div class="col-md-12" style="margin:1rem">
            <span class="col-md-2 " style="width:10.666667%">Answer Text : </span>
            <input type="text" name="Answers[0].Text" required class="form-control  col-md-6" />
            <span class="col-md-1">Correct </span>
            <input type="checkbox" name="Answers[0].IsTrueAnswer" value="true" class="checkbox-inline  col-md-1" />
        </div>
    </div>
</fieldset>
   

    <div class="form-group">
        <div class=" col-md-10">
            <input type="submit" value="Create" class="btn btn-success" />
            <input type="button" value="Add" id="ADD" class="btn btn-info" />
        </div>
    </div>
</div>
    }

  
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
        <script>
            var AnswerNumber = 1;
            $('body').on('click', '#ADD', function () {
                var newAnswer = '<div class="col-md-12" style="margin:1rem"> <span class="col-md-2" style="width:10.666667%">Answer Text : </span> <input type="text" name="Answers[' + AnswerNumber + '].Text" required class="form-control col-md-6" />  <span class="col-md-1">Correct  </span> <input type="checkbox" name="Answers[' + AnswerNumber + '].IsTrueAnswer" value="true" class="checkbox-inline col-md-1" /> </div>'
                AnswerNumber++;
                $('#Answers').append(newAnswer);

            });
        </script>
    }
