@model ExamOnline.Models.Exam

@{
    ViewBag.Title = "Details";
}

<div class="form-group">
    <div class="col-lg-6">
        <h3>@Html.DisplayNameFor(model => model.ExamName) </h3>


    </div>
    <div class="col-lg-6">
        <h3>@Html.DisplayNameFor(model => model.ExamHours)</h3>


    </div>


</div>

<div style="margin-top:5rem">


    <div class="form-group">
        <div class="col-lg-6">
            <h5>@Html.DisplayFor(model => model.ExamName) </h5>


        </div>
        <div class="col-lg-6">
            <h5>@Html.DisplayFor(model => model.ExamHours)</h5>


        </div>


    </div>
    @using (Html.BeginForm())
    {
        foreach (var question in Model.ExamQuestions)
        {
            <div>
                <label> @question.Question.Text</label>
                @if (question.Question.IsSingleAnswer)
                {
                    foreach (var answer in question.Question.Answers)
                    {
                        <div class="form-control">
                            <label>@answer.Text</label>
                            <input type="radio" name="answer" value="@answer.ID" style="position: absolute; right: 10%" />
                        </div>
                    }

                }
                else
                {

                    foreach (var answer in question.Question.Answers)
                    {
                        <div class="form-control">
                            <label>@answer.Text</label>
                            <input type="checkbox" name="answer" value="@answer.ID" style="position: absolute; right: 10%" />
                        </div>
                    }

                }
            </div>
        }

        <div class="form-group">
            <div class=" col-md-8">
                <input type="submit" value="Submit" class="btn btn-success" />
            </div>
        </div>
    }
</div>

